---
import Layout from "../layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";

const page = await getEntryBySlug("pages", "biography");
const { Content } = await page.render();
---

<Layout title="Biography of Samuel Colman">
    <div class="biography-content">
        <Content />
    </div>
</Layout>

<style>
    .biography-content :global(figure img) {
        width: 100%;
        height: auto;
    }

    .biography-content :global(figcaption) {
        font-size: 0.875rem;
        text-align: center;
        font-style: italic;
        padding-top: 0.25rem;
    }
</style>
