---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biography of Samuel Colman">
    <figure class="block md:w-2/5 md:float-right md:pl-4 pb-4">
        <img src="/colman_getty.jpg" alt="Samuel Colman" />
        <figcaption class="text-sm text-center italic pt-1">
            Sarony & Co., photographer<br />
            [Samuel] Colman, 1880–1885<br />
            Albumen silver print<br />
            The J. Paul Getty Museum, Los Angeles, <a
                href="https://www.getty.edu/art/collection/object/107J4Z"
                >84.XD.1157.1626</a
            >
        </figcaption>
    </figure>

    <p>
        Samuel Colman was 19th century painter, draftsman, designer,
        watercolorist, and printmaker. He is best known as a member of the
        Hudson River School and a painter of grand landscapes. His most
        recognizable work is <a
            href="https://americanart.si.edu/artwork/storm-king-hudson-5183"
            >Storm King on the Hudson</a
        > from 1866, but he was a prolific and varied artists who worked in a variety
        of styles and media, including etching.
    </p>

    <p>
        Colman was born in 1832, in Portland, Maine into a family of
        Swedenborgian booksellers. His father was a publisher remembered by
        bibliophiles for publishing <em>Hyperion</em>, by a then-unknown Henry
        Wadsworth Longfellow. His mother was a prolific author and editor of
        children's stories, particularly the "Lulu" series.
    </p>

    <p>
        More importantly for Colman's future career, his uncle was the
        properieter of Colman's Literary Rooms, a New York bookseller that
        doubled as an art gallery. In 1825 the store would become the first
        place to display and sell works by Thomas Cole, the progenitor of the
        Hudson River School and the most influential American artist of the
        first half the 19th century.
    </p>

    <p>
        Colman spent his early years roving between Portland, Boston, and New
        York as his furthered pursued different business opportunities, many of
        which were unsuccessful. By the 1850's, Colman had graduated high
        school, the family had settled in New York, and the young artist had
        begun exhibiting works at the National Academy of Design. While the
        source of his artistic training is unknown, it is certain Colman knew
        Asher B. Durand, and may have studied with him. Colman's earliest works
        bearing a distinct resemblance to Durand's.
    </p>

    <p>
        In 1860, at the age of 28, Colman departed on an abbreviated "grand
        tour" of France and Spain, which would have a huge influence on his art
        for years to come. The Civil War began while Colman was still abroad. He
        returned the same year, but never served. How he avoided the draft is
        unclear, as it's unlikely the family could have afforded the $300
        "commutation fee." Colman's elder brother William, already a veteran of
        the Mexican-American War, fought and was killed at the Battle of
        Corinth.
    </p>

    <p>
        The remainder of the war years were a time of tremendous personal
        accomplishment for Colman. In 1862 he married Anne Lawrence Dunham,
        daughter of Edward Wood Dunham, a tremendously wealthy New York banker.
        The marriage secured for Colman access to the upper echelons of New York
        Society and a relationship with a then-fourteen-year-old Louis Comfort
        Tiffany, a cousin Anne's by marriage. (Evidence suggests Colman may have
        taken Tiffany as student.) Two years after his marriage Colman was made
        a full member of the National Academy of Design and was inducted into
        the Century Association, a prestigious New York social club.
    </p>

    <p>
        Colman's artistic career was also taking off. In 1864 he held his first
        major sale at Snedecor Gallery, joining with fellow Hudson River
        painters Aaron Draper Shattuck (his sister's husband) and Jervis
        McEntee. While he had yet to paint his best known works, major
        masterpieces such as <em>The Hill of the Alhambra, Granada</em> and <em
            >Storm King on the Hudson</em
        > would follow within the next two years. Just as he was reaching his mature
        style in oil, Colman would begin to experiment with watercolor. In 1866 he
        cofounded the American Society of Painters in Water-Colours, which would
        later be become the American Watercolor Society.
    </p>

    <p>
        The remainder of the 1860's and 1870's were extraordinarily successful
        for Colman. He would produce numerous masterpieces in both watercolor
        and oil. Notably, some of his most remarkable pictures, such as <em
            >The Green River, Wyoming</em
        > would be the product of his travels to the American West. Beginning in
        1870 he would go as far as Wyoming. He would also return to Europe, this
        team for a three-and-a-half year trip that included time in North Africa.
    </p>

    <p>
        In 1875 Colman held a second major exhibit at Snedecor Gallery. I may be
        at this event that he met the ultra-wealthy industrialist Henry Osborne
        Havemeyer. This relationship would profoundly alter the trajectory of
        Colman's career. Colman would share his burgeoning love of decorative
        arts, in particular Asian pottery and textiles, with Havemeyer. This
        would ultimately lead, many years later, to Colman and Louis Comfort
        Tiffany partnering to design the interiors of Havemeyer's landmark
        Manhattan mansion. Colman himself would amass a celebrated collection of
        Asian art, a portion of which he would later gift to the Metropolitan
        Museum of Art.
    </p>

    <p>
        In 1877 Colman took up etching and became a founding member of the New
        York Etching Club. With the "etching revival" already well underway in
        France and England, and New York artists increasingly traveling abroad,
        it was only a matter of time before the fad reached the New York. A
        prolific draughtsman, Colman seems to have been drawn the spotinenity of
        etching. Many of his etched works have a loose, curvilinear style that
        is charictaristic of his drawings, but distinctly different from his
        more formal paintings. While Colman would go on to etch more than fifty
        plates, his prints never achieved the same recognition as that of some
        of his peers, notably his close friend and traveling companion Thomas
        Moran.
    </p>

    <p>
        Colman would paint and etch throughout the 1880's and 1890's, though his
        output would slow as he passed his 50th year. In 1884 he and his wife
        leave New York for an ornate home they had constructed in Newport, Rhode
        Island. He would also become more active as a decorator, working closey
        with Tiffany on the Havemeyer mansion and other projects.
    </p>

    <p>
        In 1902 Anne died. A year later Colman remarried to Lillian Margarat
        Gaffney. Around this time he also began to part ways with significant
        parts of his collection, selling Asian art, paintings by other American
        artists, and his own paintings in large numbers. In the middle of the
        decade he and his wife sold the Newport house and moved back to New
        York. They also traveled together, first to Mexico and then to Canada.
        Colman produced many drawings documenting their travels. Then, in
        1908, at the age of 76, they had a son.
    </p>

    <p>
        Colman would devote much of the last twenty years of his life to
        authoring two esoteric books of art theory: <em
            >Nature's Harmonic Unity</em
        > and <em>Proportional Form</em>. Lillian would continue to disperse his
        art. In 1927 a large collection was sold at Anderson Galleries and in
        1939 an sizeable collection of drawings was gifted to the Cooper Hewitt.
    </p>

    <p>
        During his life, Colman's artistic output was often overshadowed by
        other artists, as it continues to be today. Many more museum-goers wil
        recognize the work of Asher B. Durand, George Inness, or Winslow Homer.
        And yet, Colman's story is threaded just as tightly as theirs into the
        artistic history of 19th century America. From the rise of the Hudson
        River School, to the boom of the etching revival, to his knack for
        satisfying the orientalist demands of the robber barons, he seems to
        have had an remarkable talent for being in the middle of all of it.
    </p>
</Layout>
