---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biography of Samuel Colman">
    <h2>Biography of Samuel Colman</h2>

    <figure class="block md:w-2/5 md:float-right md:pl-4">
        <img src="/colman_getty.jpg" alt="Samuel Colman" />
        <figcaption class="text-sm text-center italic pt-1">
            Sarony & Co., photographer<br />
            [Samuel] Colman, 1880–1885<br />
            Albumen silver print<br />
            The J. Paul Getty Museum, Los Angeles, <a
                href="https://www.getty.edu/art/collection/object/107J4Z"
                >84.XD.1157.1626</a
            >
        </figcaption>
    </figure>

    <p>
        Samuel Colman was 19th century painter, draftsman, designer,
        watercolorist, and printmaker. He is best known as a member of the
        Hudson River School and a painter of grand landscapes. His best known
        work is likely <a
            href="https://americanart.si.edu/artwork/storm-king-hudson-5183"
            >Storm King on the Hudson</a
        > from 1866, but he was a prolific and varied artists who worked in a variety
        of styles and media.
    </p>

    <p>
        Colman was born in 1832, in Portland, Maine into a family of
        booksellers. His father was a publisher perhaps best known for
        publishing Hyperion, by a then-unknown Henry Wadsworth Longfellow. His
        mother was an author and editor of children's stories.
    </p>

    <p>
        Perhaps more importantly for his future, Colman's uncle was the
        properieter of Colman's Literary Rooms, a New York bookseller that
        doubled as an art gallery. In 1825 the store would become the first
        place to display and sell works by Thomas Cole, the progenitor of the
        Hudson River School and arguably the most influential American artist of
        the first half the 19th century.
    </p>

    <p>
        Colman's artistic training is unknown, but by the early 1850's, his
        family had relocated to New York and he had begun exhibiting works at
        the National Academy of Design. There is some reason to believe Colman
        at least knew, and possibly studied under, Asher B. Durand. Colman's
        earliest works bearing a striking resemblance to Durand's.
    </p>

    <p>
        In 1860 Colman took his first trip abroad, visiting... <em
            >to be continued!</em>
    </p>
</Layout>
