---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQ">
    <ul class="list-disc pl-4 pb-4"></ul>
        <li><a href="#who-made-this">Who made this?</a></li>
        <li><a href="#whats-changed">What's changed since the last time I was here?</a></li>
        <li>
            <a href="#will-you-add"
                >Will you add my etching/photo to the catalogue?</a
            >
        </li>
        <li>
            <a href="#how-should-i-cite">How should I cite this website?</a>
        </li>
        <li>
            <a href="#are-you-also"
                >Are you also working on a catalogue raisonné of Colman's
                paintings?</a
            >
        </li>
        <li>
            <a href="#what-sources"
                >What sources did you use to create this catalogue?</a
            >
        </li>
        <li>
            <a href="#did-colman-make"
                >Did Colman make any prints that aren't etchings?</a
            >
        </li>
        <li>
            <a href="#can-you-tell-me"
                >Can you tell me how much my Colman artwork is worth?</a
            >
        </li>
        <li><a href="#will-you-buy">Will you buy my Colman artwork?</a></li>
        <li><a href="#how-did-you">How did you create this website?</a></li>
    </ul>

    <h3 id="who-made-this">Who made this?</h3>
    <p>
        Hi, I'm Chris. I collect European and American works on paper from the
        15th through 21st centuries, with a particular emphasis on the history
        of etching. My interest in Samuel Colman was sparked by the chance
        purchase of a small cache of the artist's drawings in 2021. I started
        creating this catalogue in the hazy days after the birth of my second
        child and have continued to work it off and on since then.
    </p>
    <p>
        To reach me, please email <a href="mailto:chrisgroskopf@gmail.com"
            >chrisgroskopf@gmail.com</a
        >.
    </p>

    <h3 id="whats-changed">What's changed since the last time I was here?</h3>
    <ul class="list-disc pl-4 pb-4">
        <li><strong>May 25th, 2025 — </strong>Initial release with 53 identified etchings.</li>
    </ul>
    <p>This project is open source! For a more granular changelog, refer to <a href="https://github.com/onyxfish/colman/commits/main/">the commit history</a>.</p>

    <h3 id="will-you-add">Will you add my etching/photo to the catalogue?</h3>
    <p>
        Yes! If you believe you have an unrecorded Colman etching, please <a
            href="mailto:chrisgroskopf@gmail.com">email me</a
        > photos of the front and back. Many of Colman's etchings were printed in
        extremely small numbers and never editioned, so it's likely there are more
        out there I have not seen. Permission to use photos in this catalogue is
        always appreciated.
    </p>

    <h3 id="how-should-i-cite">How should I cite this website?</h3>
    <p>Here's CMS style for reference:</p>
    <blockquote>
        Groskopf, Christopher. Samuel Colman: A Catalogue of the Artist's
        Etchings, accessed [today's date], colmanetchings.com.
    </blockquote>
    <p>
        The specific catalogue numbers associated with each etching will not
        change and can be used to reference specific etchings. You can get a
        link directly to a particular etching by clicking the `#` icon next to
        the number and copying from the url your browser's location bar.
    </p>

    <h3 id="are-you-also">
        Are you also working on a catalogue raisonné of Colman's paintings?
    </h3>
    <p>
        I was, but it turned out to be too massive a project for the time I have
        available. I have scaled back to focus on prints for now. That being
        said, I do have a very large body of research concerning Colman's
        paintings (more than 250 identified, not including watercolors), and
        would be happy to share information with other researchers.
    </p>

    <h3 id="what-sources">
        What sources did you use to create this catalogue?
    </h3>
    <p>
        This catalogue was compiled from the published collections of 100
        museums and 23 galleries. I also reviewed hundreds of auction records
        and more than 300 written sources. Nearly all research for this project
        was conducted online, so there are undoubtedly things I've missed hiding
        in collections that have not been digitized.
    </p>

    <h3 id="did-colman-make">
        Did Colman make any prints that aren't etchings?
    </h3>
    <p>
        Apparently not. I've uncovered no examples of engravings, woodcuts, or
        drypoints. This is not particularly surprising given the fad for etching
        in Colman's artistic circle. There are a handful of prints by other
        artist's that reproduce paintings or drawings by Colman, but none are
        especially noteworthy.
    </p>

    <h3 id="can-you-tell-me">
        Can you tell me how much my Colman artwork is worth?
    </h3>
    <p>
        I am neither qualified nor certified as an appraiser. Colman's etchings
        typically sell in the low hundreds of dollars. His finest paintings have
        sold for hundreds of thousands of dollars. To have a specific work
        valued for sale or insurance, please seek out a professional appraiser.
    </p>

    <h3 id="will-you-buy">Will you buy my Colman artwork?</h3>
    <p>
        Maybe. I am an opportunistic collector and do not pay gallery prices,
        but if you just like the idea of selling to someone who really cares
        about Colman's work, <a href="mailto:chrisgroskopf@gmail.com"
            >email me</a
        >.
    </p>

    <h3 id="how-did-you">How did you create this website?</h3>
    <p>
        This website has been designed to be <em>really fast</em>. It's built
        using <a href="https://astro.build/">Astro web framework</a>. Styling is
        handled with <a href="https://tailwindcss.com/">Tailwind CSS</a>. The
        source is hosted <a href="https://github.com/onyxfish/colman"
            >on Github</a
        > and the site is deployed to <a href="https://aws.amazon.com/s3/"
            >Amazon S3</a
        >. Edge caching and SSL are provided by <a
            href="https://aws.amazon.com/cloudfront/">CloudFront</a
        >.
    </p>
</Layout>

<style>
    h3:not(:first-child) {
        margin-top: 1rem;
    }

    blockquote {
        background-color: #eed6ac99;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
</style>
