---
import Layout from "../layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";

const page = await getEntryBySlug("pages", "faq");
const { Content } = await page.render();
---

<Layout title="FAQ">
    <div class="faq-content">
        <Content />
    </div>
</Layout>

<style>
    .faq-content :global(h3:not(:first-child)) {
        margin-top: 1rem;
    }

    .faq-content :global(blockquote) {
        background-color: #eed6ac99;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }

    .faq-content :global(ul) {
        list-style: disc;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
</style>
