---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQ">
    <h3>Who made this?</h3>
    <p>
        Hi, I'm Chris. I collect European and American works on paper from the
        15th through 21st centuries, with a particular emphasis on the history
        of etching. My interest in Samuel Colman was sparked by the chance
        purchase of a small cache of the artist's drawings in 2021. I started
        creating this catalogue in the hazy days after the birth of my second
        child and have continued to work it off and on since then.
    </p>
    <p>
        To reach me, please email <a href="mailto:chrisgroskopf@gmail.com"
            >chrisgroskopf@gmail.com</a
        >.
    </p>

    <h3>Will you add my etching/photo to the catalogue?</h3>

    <p>
        Yes! If you believe you have an unrecorded Colman etching, please <a
            href="mailto:chrisgroskopf@gmail.com">email me</a
        > photos of the front and back. Many of Colman's etchings were printed in
        extremely small numbers and never editioned, so it's likely there are more
        out there I have not seen. Permission to use photos in the catalogue is always
        appreciated.
    </p>

    <h3>How should I cite this website?</h3>

    <p>Here's MLA style for reference:</p>

    <blockquote>Groskopf, Christopher. <em>Samuel Colman: A Catalogue of the Artist's
    Etchings</em>. colmanetchings.com. Accessed [today's date].</blockquote>

    <p>
        The specific catalogue numbers associated with each etching will not
        change and can be used to reference specific etchings. You can get a
        link directly to a particular etching by clicking the `#` icon next to
        the number and copying from the url your browser's location bar.
    </p>

    <h3>Are you also working on a catalogue raisonné of Colman's paintings?</h3>

    <p>
        I was, but it turned out to be too massive a project for the time I have
        available. I have scaled back to focus on prints for now. That being
        said, I do have a very large body of research concerning Colman's
        paintings (more than 250 identified, not including watercolors), and
        would be happy to share information with other researchers.
    </p>

    <h3>Can you tell me how much my Colman artwork is worth?</h3>

    <p>
        I am neither qualified nor certified as an appraiser. Colman's etchings
        typically sell in the low hundreds of dollars. His finest paintings have
        sold for hundreds of thousands of dollars. To have a specific work
        valued for sale or insurance, please seek out a professional appraiser.
    </p>

    <h3>Will you buy my Colman artwork?</h3>

    <p>
        Maybe. I am an opportunistic collector and do not pay gallery prices,
        but if you just like the idea of selling to someone who really cares
        about Colman's work, <a href="mailto:chrisgroskopf@gmail.com"
            >email me</a
        >.
    </p>
</Layout>

<style>
	h3:not(:first-child) {
		margin-top: 1rem;
	}

	blockquote {
		background-color: #eed6ac99;
		padding: 1rem;
		margin-bottom: 0.5rem;
	}
</style>