---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Print from "../components/Print.astro";

const prints = await getCollection("prints");
---

<Layout title="Samuel Colman: A Catalogue Raisonné of Etchings">
	<form id="sort-ui" class="text-right pb-2">
		<label for="sort" class="text-sm">Sort by:</label>

		<select id="sort" name="sort" class="rounded-lg p-1.5 text-sm">
			<option value="slug">Date of creation</option>
			<option value="id">Catalogue number</option>
		</select>
	</form>

	<div id="prints">
		{prints.map((p) => <Print slug={p.slug} />)}
	</div>
</Layout>

<script src="../lib/sorter.js"/>

<style>
	#sort {
		border-right: 0.5rem solid transparent;
		padding-right: 0;
	}
</style>
