---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Print from '../components/Print.astro';

const prints = await getCollection('prints');
---

<Layout title="Samuel Colman: A Catalogue Raisonné of Etchings">
	<div class="print">
		{prints.map(p => (
			<Print slug={p.slug} />
		))}
	</div>
</Layout>