---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Print from '../components/Print.astro';

const prints = await getCollection('prints');
---

<Layout title="Samuel Colman: A Catalogue Raisonné of Etchings">
	<main class="w-5/6">
		<h1 class="text-4xl pb-4 text-center">Samuel Colman: A Catalogue Raisonné of Etchings</h1>

		<div class="grid md:grid-cols-2 gap-8">
			{prints.map(p => (
				<Print slug={p.slug} />
			))}
		</div>
	</main>
</Layout>