---
import { getCollection, getEntry } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Print from '../components/Print.astro';

const prints = await getCollection('prints');
prints.sort((a, b) => a.data.sort_date - b.data.sort_date || a.slug - b.slug);
---

<Layout title="A Catalogue Raisonne of Etchings by Samuel Colman">
	<main>
		<h1>A Catalogue Raisonne of Etchings by Samuel Colman</h1>
		<ul>
			{prints.map(p => (
				<Print slug={p.slug} />
			))}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
