---
import { getEntryBySlug } from 'astro:content';
const { slug } = Astro.props;

const print = await getEntryBySlug('prints', slug);
---

<p>
    {print.slug}<br />
    {print.data.title}<br />
    {print.data.human_date}
</p>