---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex justify-center">
			<div class="w-5/6">
				<h1 class="text-4xl pt-8 pb-4 text-center">Samuel Colman: A Catalogue Raisonné of Etchings</h1>

				<ul class="grid grid-cols-2 text-center pb-8 md:grid-cols-4 justify-center md:ml-18 md:mr-18">
					<li><a href="/">The Catalogue</a></li>
					<li><a href="/colman.html">About Samuel Colman</a></li>
					<li><a href="/faq.html">FAQ</a></li>
					<li><a href="/contact.html">Contact the author</a></li>
				</ul>
			
				<main>
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>

<style is:global>
    a {
        color: red;
    }

    a:visited {
        color: blue;
    }

    p {
        padding-bottom: 0.5rem;
    }
</style>