---
interface Props {
	title: string;
}

const { title } = Astro.props;
const { pathname } = Astro.url;

const menu = [{
	pathname: "/",
	title: "Catalogue"
}, {
	pathname: "/colman/",
	title: "Artist Biography"
}, {
	pathname: "/faq/",
	title: "FAQ"
}]

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Every etching known, with descriptive data and images." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans" rel="stylesheet">	
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex justify-center">
			<div class="w-5/6 lg:w-3/5">
				<h1 class="text-5xl pt-16 pb-4 text-center">
					<span class="font-bold">Samuel Colman:</span><br />
					<span class="text-4xl">A Catalogue of the Artist&rsquo;s Etchings</span>
				</h1>

				<ul id="main-menu" class="grid grid-cols-3 text-center pt-4 justify-center items-center md:ml-18 md:mr-18 md:text-xl">
					{
						menu.map((item) => <li><a class={pathname === item.pathname ? "active" : ""} href={item.pathname}>{item.title}</a></li>)
					}
				</ul>
			
				<main>
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>

<style is:global>
	:root {
		--bg: #f7e3c1;
		--missing: #eed6ac;
		--links: #b85429;
		--text: #403025;
	}

	body {
		background-color: var(--bg);
		color: var(--text);
	}

	main {
		padding-top: 3rem;
		padding-bottom: 2rem;
	}

	h1, h2 {
		@apply font-serif;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.2rem;
		font-weight: bold					;
	}

	h3:not(:first-child) {
		margin-top: 1rem;
	}
	
    a {
        color: var(--links);
    }

	ul li {
		@apply font-sans;
	}

	#main-menu li a.active {
		font-weight: bold;
		text-decoration: underline;
	}

    p {
		@apply font-sans;
        padding-bottom: 0.5rem;
    }
</style>